* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1rem;
    color: #0047AB;
    margin-bottom: 1rem;
}

h2 {
    font-size: .8rem;
    color: #4682B4;
    margin-bottom: .2rem;
}

input {
    height: 2rem;
    margin-bottom: 1rem;
    min-width: 15rem;
    border-style: solid;
    border-color: #ADD8E6;
    border-radius: 5px;
}

main {
    height: 100vh;
}

main .container {
    height: 100%;
    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: space-around;
}

main .container select {
    height: 2rem;
    min-width: 15rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: #ADD8E6;
    border-radius: 5px;
}

main .container form button {
    background-color: #0047AB;
    height: 3rem;
    color: white;
    font-size: .8;
    border: none;
    border-radius: 5px;
}

main .container .produtos div .lista-produtos {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    align-items: center;

    background-color: #BBDEFB;
    height: 3rem;
    border-radius: 5px;
    margin-bottom: 2rem;

}

main .container .produtos div .lista-produtos h2 {
    margin: 0 .8rem;
}

main .container .produtos div .lista-produtos button {
    background-color: #BBDEFB;
    border: none;
    cursor: pointer;
}

main .container .produtos .text-and-search {
    display: flex;
}

main .container .products .text-and-search button {
    height: 2.4rem;
    background-color: #0047AB;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

